.gameProfile-body, .gameProfile-body-currentturn {
    width: 90%;
    max-width: 300px;
    height: auto;
    min-height: 80px;
    margin: 10px auto;
    padding: 8px;
    display: flex;
    background-color: rgb(75, 163, 75);
    color: white;
    border-radius: 20px;
    font-family: sans-serif;
    align-items: center;
}

.gameProfile-body-currentturn {
    border: 5px solid white;
}

#redgold .gameProfile-body {
    background-color: rgb(151, 42, 42);
}

#purpleyellow .gameProfile-body {
    background-color: rgb(126, 42, 151);
}

.gameProfile-userIcon {
    height: 50px;
    width: 50px;
    min-width: 50px;
    background-color: rgb(255, 255, 255, 0);
    margin: 10px;
    border-radius: 25%;
}

.gameProfile-userInfo {
    width: calc(100% - 70px);
    font-size: 0.9rem;
    height: 70px;
    /* background-color: rgb(123, 39, 39); */
    align-items: center;
}

#gameProfile-words {
    margin-top: 5px;
    margin-bottom: 5px;
}