.gameProfile-body {
    display: flex;
    height: 15vh;
    width: 27vw;
    background-color: rgb(75, 163, 75);
    color: white;
    border-radius: 20px;
    font-family: sans-serif;
    align-items: center;
}

.gameProfile-body-currentturn {
    display: flex;
    height: 15vh;
    width: 27vw;
    background-color: rgb(75, 163, 75);
    color: white;
    border-radius: 20px;
    font-family: sans-serif;
    align-items: center;
    border: 5px solid white;
}

#redgold .gameProfile-body {
    background-color: rgb(151, 42, 42);
}

#purpleyellow .gameProfile-body {
    background-color: rgb(126, 42, 151);
}

.gameProfile-userIcon {
    height: 70px;
    width: 70px;
    background-color: white;
    margin: 10px;
    border-radius: 25%;
}

.gameProfile-userInfo {
    height: 70px;
    width: 74%;
    /* background-color: rgb(123, 39, 39); */
    align-items: center;
}

#gameProfile-words {
    margin-top: 5px;
    margin-bottom: 5px;
}