.cardgame-game-page {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.cardgame-gameboard {
    display: inline;
    background-color: aqua;
    width: 70vw;
    height: 100vh;
}

.cardgame-userboard {
    display: inline;
    background-color: yellow;
    width: 30vw;
    height: 100vh;
}