.gameboard-game-page {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.gameboard-cardgame {
    display: flex;
    background-color: rgb(30, 42, 80);
    width: 70vw;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    color: white;
}

.gameboard-userboard {
    display: flex;
    background-color: yellow;
    width: 30vw;
    height: 100vh;
}