.home-title {
    font-family: 'Calibri', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-subtitle {
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    padding-bottom: 15px;
}

.home-buttons-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: yellow; */
    padding: 10px;
}

.home-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-login-button {
    display: flex;
    justify-content: right;
}

.home-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 10%;
    max-height: 10%;
    padding: 15px;
}


.home-user-icon {
    max-width: 6%;
    max-height: 6%;
    /* background-color: aqua; */
    padding: 2px;
    border-radius: 10px;
    position: fixed;
    right: 1.5%;
    top: 1.5%;
}
.home-user-icon:hover {
    background-color: grey;
    transition: 0.1s;
    cursor: pointer;
}

.home-user-icon-pressed {
    background-color: grey;
    max-width: 6%;
    max-height: 6%;
    /* background-color: aqua; */
    padding: 2px;
    border-radius: 10px;
    position: fixed;
    right: 1.5%;
    top: 1.5%;
}

@media (max-width: 400px) {
    .home-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 40%;
        max-height: 40%;
        padding: 15px;
    }
    .home-user-icon {
        max-width: 12%;
        max-height: 12%;
        /* background-color: aqua; */
        padding: 2px;
        border-radius: 10px;
        position: fixed;
        right: 1.5%;
        top: 1.5%;
    }
    .home-user-icon-pressed {
        background-color: grey;
        max-width: 12%;
        max-height: 12%;
        /* background-color: aqua; */
        padding: 2px;
        border-radius: 10px;
        position: fixed;
        right: 1.5%;
        top: 1.5%;
    }
}