.gameboard-game-page {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.gameboard-cardgame {
    display: flex;
    background-color: rgb(98, 175, 94);
    width: 70vw;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    color: white;
}

#redgold .gameboard-cardgame {
  background-color: rgb(151, 42, 42);
}
#purpleyellow .gameboard-cardgame {
  background-color: rgb(126, 42, 151);
}

.gameboard-userboard {
    display: grid;
    background-color: rgb(67, 86, 68);
    width: 30vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
#redgold .gameboard-userboard {
  background-color: rgb(72, 44, 44);
}

#purpleyellow .gameboard-userboard {
  background-color: rgb(67, 44, 72);
}