#input-button {
    background-color: rgba(87, 200, 81, 1);
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    padding: 6px 18px 6px 18px;
    border-radius: 10px;
    border: 2.5px rgba(87, 200, 81, 1);
    border-style: solid;
    margin-top: 15px;
    margin-bottom: 15px;
}

#input-button:hover {
    color: rgba(87, 200, 81, 1);
    background-color: white;
    transition: 0.1s;
    cursor: pointer;
}

#rules-button {
    background-color: #C6C6C6;
    text-decoration: none;
    color: black;
    font-family: 'Calibri', sans-serif;
    padding: 3px 12px 3px 12px;
    border-radius: 10px;
}

#rules-button:hover {
    background-color: #929292;
    text-decoration: none;
    color: black;
    font-family: 'Calibri', sans-serif;
    padding: 3px 12px 2px 12px;
    border-radius: 10px;
    transition: 0.1s;
    cursor: pointer;
}
#gameover-button {
    background-color: rgb(93, 132, 87);
    text-decoration: none;
    color: white;
    font-family: 'Calibri', sans-serif;
    padding: 6px 18px 6px 18px;
    border-radius: 10px;
    border: 2.5px rgb(255, 255, 255);
    border-style: solid;    
}

#gameover-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(93, 132, 87);
    transition: 0.1s;
}

@media (max-width: 400px) {
    #mobile {
        display: none;
    }
}