#input-button {
    background-color: rgb(82, 171, 66);
    text-decoration: none;
    color: white;
    font-family: 'Calibri', sans-serif;
    padding: 6px 18px 6px 18px;
    border-radius: 10px;
    border: 2.5px rgb(82, 171, 66);
    border-style: solid;
}

#input-button:hover {
    color: rgb(82, 171, 66);
    background-color: white;
    transition: 0.1s;
}